$primary-color: #0f7055;     
$secondary-color: #f199bf;    
$danger-color: #ec1d25;      
$dark-color: #22443b;       
$light-color: #eae6db;      
$border-color: #baa791;      
$text-color: #22443b;         

$container-width: 1200px;
$spacing: 1rem;
$border-radius: 6px;